<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<div class="container mt-3" th:fragment="navlogin">
    <nav class="navbar navbar-expand-lg navbar-light bg-light pl-3">
        <a class="navbar-brand">Автонарушения</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-item nav-link" th:href="@{/index}">Инциденты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" th:href="@{/addAccident}">Добавить</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-item nav-link" th:href="@{/accidentsAdmin}">Удаление инцидентов</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-item nav-link" th:href="@{/getUsers}">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" th:href="@{/userEdit}">Профиль</a>
                </li>
                <li th:if="${user} == null" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Войти</a>
                </li>
                <li th:if="${user} == null" class="nav-item">
                    <a class="nav-link" th:href="@{/registration}">Регистрация</a>
                </li>
                <li class="nav-item" th:if="${user} != null">
                    <a class="nav-link" th:text="'Вы вошли как : ' + ${user.username}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Выйти</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</html>