<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragment/head :: head"></head>
<body>
<div th:insert="fragment/navlogin :: navlogin"></div>
<div class="container mt-3">
    <div class="card" style="width: 800px">
        <div class="card-header">
            Редактировать профиль
        </div>
        <div class="card-body">
            <div style="color:#ff0000;" th:if="${param.username}">
                <div th:text="${errorMessage}"></div>
            </div>
            <div style="color:#ff0000;" th:if="${param.password}">
                <div th:text="${errorMessage}"></div>
            </div>
            <form th:action="@{/userEdit}" method="POST" th:object="${user}">
                <table class="table">
                    <tr>
                        <div class="form-group">
                            <td>Имя пользователя</td>
                            <td><input type="text" class="form-control" name="username" th:field="*{username}" readonly>
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <td>Введите старый пароль</td>
                            <td><input type="password" class="form-control" name="oldPassword" required></td>
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <td>Новый пароль</td>
                            <td><input type="password" class="form-control" name="password" th:field="*{password}"
                                       required>
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-secondary px-2">Сохранить</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>