<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragment/head :: head"></head>
<body>
<div th:insert="fragment/navlogin :: navlogin"></div>
<div class="container mt-3">
    <div class="card" style="width: 500px">
        <div class="card-header">
            Редактировать профиль
        </div>
        <div class="card-body">
            <div style="color:#ff0000;" th:if="${param.username}">
                <div th:text="${errorMessage}"></div>
            </div>
            <div style="color:#ff0000;" th:if="${param.password}">
                <div th:text="${errorMessage}"></div>
            </div>
            <form th:action="@{/userEdit}" method="POST" th:object="${user}">
                <div class="form-group">
                    <label for="username">Имя пользователя</label>
                    <input type="text" class="form-control" name="username" th:field="*{username}" id="username">
                </div>

                <div class="form-group">
                    <label for="oldPassword">Введите старый пароль</label>
                    <input type="password" class="form-control" name="oldPassword" id="oldPassword" required>
                </div>
                <div class="form-group">
                    <label for="password">Новый пароль</label>
                    <input type="password" class="form-control" name="password" th:field="*{password}" id="password"
                           required>
                </div>
                <button type="submit" class="btn btn-secondary px-2">Сохранить</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>