<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragment/head :: head"></head>
<body>
<div th:insert="fragment/navlogin :: navlogin"></div>
<div class="container mt-3">
    <div class="card" style="width: 100%">
        <div class="card-header">
            Добавить инцидент
        </div>
        <div class="card-body">
            <form th:action="@{/saveAccident}" th:object="${accident}" method="POST" enctype="multipart/form-data">
                <table class="table">
                    <tr>
                        <td><label for="name">Наименование :</label></td>
                        <td><input type="text" class="form-control" th:field="*{name}" name="name" id="name" required/></td>
                    </tr>
                    <tr>
                        <td><label for="address">Адрес :</label></td>
                        <td><input type="text" class="form-control" th:field="*{address}" name="address" id="address" required/></td>
                    </tr>
                    <tr>
                        <td><label for="description">Описание :</label></td>
                        <td><textarea class="form-control" th:field="*{description}" rows="8" maxlength="400"
                                      name="description" id="description"
                                      placeholder="Не больше 400 символов" required></textarea></td>
                    </tr>
                    <tr>
                        <td><label for="type.id">Тип :</label></td>
                        <td> <select class="form-control" id="type.id"  name="type.id" required>
                            <option th:each="type: ${types}"
                                    th:text="${type.name}"
                                    th:value="${type.id}"></option>
                        </select></td>
                    </tr>
                    <tr>
                        <td><label for="rIds">Правила :</label></td>
                        <td> <select class="form-control" id="rIds" name="rIds" multiple required>
                            <option th:each="rule: ${rules}"
                                    th:text="${rule.name}"
                                    th:value="${rule.id}"></option>
                        </select></td>
                    </tr>
                    <tr>
                        <td><label for="dateTime">Дата и время :</label></td>
                        <td><input type="datetime-local" class="form-control" th:field="*{accidentDateTime}" name="dateTime" id="dateTime" required/></td>
                    </tr>
                    <tr>
                        <td><label for="formFile">Фото</label></td>
                        <td><input class="form-control form-control-sm w-100" type="file" id="formFile" name="file" required></td>
                    </tr>
                    <tr>
                        <td><input type="submit" class="btn btn-secondary" value="Сохранить"/>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>